<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=' '></ion-back-button>
      </ion-buttons>
    <img src="./assets/imgs/logo-zs.png" alt="" class="navbar-img">        
    <ion-title>Menu de configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header text-left>
            <p><b>Cliente activo...</b></p>
        </ion-list-header>                 

        <ion-item>
            <table>
              <tr>
                <td text-right><p>Código :</p></td>
                <td><p><b>{{  cliente.codigo }}</b></p></td>
              </tr>
              <tr *ngIf=" cliente.sucursal.trim() != '' ">
                  <td text-right><p>Sucursal :</p></td>
                  <td><p><b>{{ cliente.sucursal }}</b></p></td>
              </tr>
              <tr>
                  <td text-right><p>Razon Social :</p></td>
                  <td><p><b>{{ cliente.razonsocial }}</b></p></td>
              </tr>
              <tr>
                  <td text-right><p>Dirección :</p></td>
                  <td><p><b>{{ cliente.direccion }}</b></p></td>
              </tr>
              <tr>
                  <td text-right><p>Comuna :</p></td>
                  <td><p><b>{{ cliente.comuna }}</b></p></td>
              </tr>
              <tr>
                  <td text-right><p>Ciudad :</p></td>
                  <td><p><b>{{ cliente.ciudad }}</b></p></td>
              </tr>
              <tr *ngIf=" cliente.vendedor != '' ">
                  <td text-right><p>Vend. (<b>{{ cliente.vendedor }}</b>) :</p></td>
                  <td><p><b>{{ cliente.nombrevendedor }}</b></p></td>
              </tr>
              <tr *ngIf=" cliente.listaprecios != '' ">
                  <td text-right><p>Lista (<b>{{ cliente.listaprecios }}</b>) :</p></td>
                  <td><p><b>{{ cliente.nombrelista }}</b></p></td>
              </tr>
            </table>
        </ion-item>

      <ion-item>
        <ion-row>
          <ion-col size="5">
            <ion-button icon-left block small (click)="buscarOtroCliente()"><ion-icon name="color-wand"></ion-icon>
                Buscar cliente
            </ion-button>
          </ion-col>

          <ion-col size="7" *ngIf=" cliente.codigo.trim() != '' ">
              <ion-button icon-left block small (click)="consultarImpagos( cliente )"><ion-icon name="card"></ion-icon>
              Pendientes
            </ion-button>
          </ion-col>
          <ion-col size="7" *ngIf=" cliente.codigo.trim() == '' ">
              <ion-button icon-left block small disabled><ion-icon name="card"></ion-icon>
              Pendientes
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

<!-- 
    <app-acordeon mostrar="filtros"   [config] ="config"  titulo="Filtros en búsquedas..."></app-acordeon>
    <app-acordeon mostrar="ordenar"   [config] ="config"  titulo="Orden al desplegar..."  ></app-acordeon>
    <app-acordeon mostrar="modalidad" [usuario]="usuario" titulo="Modalidad y usuario..." ></app-acordeon>
 -->
 
</ion-content>
