.item1 {
    height: 125px;
    padding-top: 5px;
    border-top-width: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.grid1 {
    font-size: 75%;
    border-bottom-width: 10px;
    margin-bottom: 20px
}

.rotar {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    max-height: 25%;
    display: block;
}

.rojo {
    color: #f04141;
}