<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button text=" "></ion-back-button>
    </ion-buttons> -->
    <img src="assets/imgs/logo-zs.png" alt="" class="navbar-img">        
    <ion-title>Ingresar al sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/imgs/auto-00{{autoArriba}}.jpg" alt="">

  <p style="font-size: 110%; text-align: center; padding-top: 25px;">Acceda con sus datos al sistema.</p><br>

  <ion-list>

      <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="text" name="rutocorreo" [(ngModel)]="rutocorreo" required></ion-input>
      </ion-item>
              
      <ion-item>
          <ion-label position="floating">Su clave...</ion-label>
          <ion-input type="password" name="clave" [(ngModel)]="clave" required></ion-input>
      </ion-item>

      <ion-grid>
          <ion-row>
              <ion-col size="4">
                  <ion-button expand="block" size="small" (click)="salir()" >Salir</ion-button>
              </ion-col>
              <ion-col size="8">
                  <ion-button expand="block" size="small" (click)="logearme()" >Ingresar</ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
          
  </ion-list>
 
  <img src="assets/imgs/logo-kinetik.jpg" alt="" class="logo-kinetik" >

</ion-content>
